@model Logistic_Inventory.Models.Units

@{
    ViewBag.Title = "Edit";
    ViewBag.page = "others";
}



<div class="header bg-primary-grey pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0"> Product Categories</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/home")"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Content("~/products")">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Units</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Content("~/units")" class="btn btn-md btn-primary"><i class="fa fa-plus-circle"> </i> List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container col-md-6 mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Edit</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitShortName, htmlAttributes: new { @class = "form-control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.UnitShortName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UnitShortName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitFullName, htmlAttributes: new { @class = "form-control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.UnitFullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UnitFullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "form-control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "form-control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <input type="submit" value="Update" class="btn btn-warning btn-block" />

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



