@model IEnumerable<Logistic_Inventory.Models.ProjectNotes>

@{
    ViewBag.Title = "Index";
    int i = 1;
}

<div class="header bg-primary-grey pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0"> Project Notes</h6>
               
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Content("~/ProjectNotes/create")" class="btn btn-sm btn-default">Add New</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubTopic)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Details)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </th>*@
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTopic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                                <td>
                                   @item.Date.ToShortDateString()
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                </td>*@
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>


                            </tr>

                            i++;
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
