@model Logistic_Inventory.Models.Providers

@{
    ViewBag.Title = "Create";
    ViewBag.page = "supplier";
}






<div class="header bg-primary-grey pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h3 class="h2 text-white d-inline-block mb-0"> Suppliers/Providers</h3>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/home")"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Content("~/providers")">Suppliers</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Content("~/Providers/")" class="btn btn-md btn-default">Supplier List </a>

                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Add New Supplier</h3>
                </div>
                <div class="card-body">
                    <div class="">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="col">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "form-control-label" })

                                            <input class="form-control text-box single-line" id="Phone" name="Phone" type="number" value="">
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "form-control-label" })

                                            <input class="form-control text-box single-line" data-val="true" data-val-regex="Error: Please enter a valid mobile number, Only 11 digits allowed" data-val-regex-pattern="^([0-9]{11})$" 
                                                   data-val-required="The Mobile field is required." id="Mobile" name="Mobile" type="number" value="">
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                                        </div>


                                    </div>

                                    <div class="col">


                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankAcc, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.BankAcc, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BankAcc, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TIN, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.TIN, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DealingPerson, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.DealingPerson, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DealingPerson, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new { @class = "form-control-label" })

                                            @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })

                                        </div>

                                    </div>
                                </div>




                                <div class="form-group">

                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



